---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import Related from "../../components/Related.astro";
import Sharebuttons from '../../components/ShareButtons.astro';

import type  { Article } from "../../libs/microcms.ts";
import { getArticles, getArticleDetail } from "../../libs/microcms.ts"
import { DOMAIN, SITE_NAME } from "../../const"

export async function getStaticPaths() {
    const apiResponse = await getArticles({ fields: ["id", "slug"] });
    const articles = apiResponse.contents;
    return articles.map((article) => ({
        params: { slug: article.slug },
        props: { id: article.id },

    }));
}
const { slug } = Astro.params;
const { id } = Astro.props;
const article = await getArticleDetail(id as string)
const pageTitle = "hito-horobe.net";
const relatedArticles = await getArticles({ limit: 4, fields: ["title", "slug"] });
---
<BaseLayout
  pageTitle={`${article.title} | ${SITE_NAME}`}
  description={article.lead_text}
  image={article.thumbnail.url}
  url={`https://${DOMAIN}/articles/${slug}`}
>
<container class="max-w-[1100px] mx-auto flex flex-wrap m-3">
  <div class="flex-1 mr-4">
  <article class="p-3" data-pagefind-body>
        <div>
          <h2 class="text-xl font-semibold p-1 m-1 text-center">{article.title}</h2>
          <ul class="date">
            <li class="created-at">{new Date(article.createdAt).toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).split("/").join("-")}</li>
            <li class="updated-at">{new Date(article.updatedAt).toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).split("/").join("-")}</li>
            <li class="category"><a href={`/category/${article.category.name}/1`}>{article.category?.name}</a></li>
          </ul>
          <ul class="tag">
            {
              article.tags.map((tag) => (
                <li><a href={`/tag/${tag.name}/1`}>{tag.name}</a></li>
              ))
            }
            </ul>
          <div class="max-h-[350px] overflow-hidden">
            <img
                src={article.thumbnail.url}
                alt={`img_${article.title}/`}
              />
          </div>
        </div>
        <p class="py-5">{article.lead_text}</p>
          <div class="
            [&_h2]:text-xl [&_h2]:font-medium [&_h2]:my-4
            [&_h3]:text-lg [&_h3]:font-medium [&_h3]:my-3
            [&_blockquote]:border-l-4 
            [&_blockquote]:p-3
            [&_blockquote]:mx-9
            [&_blockquote]:border-blue-500 [&_blockquote]:bg-[#f5f5f5]
            [&_p]:m-3 [&_p]:text-sm
            [&_a]:underline
            [&_ul]:pl-6
            [&_li]:list-disc
            [&_figure]:flex [&_figure]:flex-col [&_figure]:items-center
            
          " set:html={article.main_text}>
          </div>
          <Related articles={relatedArticles.contents} />
          <Sharebuttons 
            slug={article.slug}
            title=`${article.title} %7C ${SITE_NAME}`
          />
        </div>
      </article>
    </div>
    <div id="sidebar" class="hidden md:block md:w-1/4 lg:w-1/3 max-w-[280px]">
      <Navigation />
    </div>
  </div>
</BaseLayout>

<style>
  .date {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.5rem;
  }

  .date .category {
    list-style: none;
    background-image: url("/category.svg");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    margin: 0.25rem;
  }

  .date .created-at {
    list-style: none;
    background-image: url("/created.svg");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    margin: 0.25rem;
  }

  .date .updated-at {
    list-style: none;
    background-image: url("/update.svg");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    margin: 0.25rem;
  }

  .tag {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
  }

  .tag li {
    background-color: #ddf4ff;
    margin: 0.2rem 0.25rem 0 0;
    padding: 0.25rem 0.5rem;
    list-style: none;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    color: #0969da;
  }

  .tag li:hover {
    background-color: #0969da;
    color: #ffffff;
  }



  .main_text {
    font: 400 14px/20px 'Helvetica Neue', 'Arial', 'sans-serif;'
  }
  .main_text h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }
</style>